@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import 'tailwindcss';
@import 'tailwindcss/preflight'; /* Thay thế @tailwind base */
@import 'tailwindcss/utilities'; /* Không cần @tailwind components nữa */

@theme {
  --color-primary-main: #1e74fd;
  --color-primary-dark: #293145;
  --color-primary-bgdark: #1a2236;
  --color-primary-header: #333334;
  --color-text-bgdark: #ddd;
  --color-dark: #000000;
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-dark-200: #dbdade;
  --color-dark-400: #909090;
  --font-size-10: 10px;
}

body {
  font-family: 'Public Sans Variable', sans-serif;
  color: #ddd;
}

@layer components {
  .card {
    @apply bg-primary-dark rounded !p-4 shadow;
  }
  .icon {
    @apply !mr-2 rounded-4xl !p-3;
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1a2236; /* Màu nền của scrollbar */
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #4b465c; /* Màu thanh cuộn */
    border-radius: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #909090;
  }
}

@layer pages {
  .container {
    @apply flex w-full gap-4 !p-6;
  }
}
