@import 'tailwindcss';
@import 'tailwindcss/preflight'; /* Thay thế @tailwind base */
@import 'tailwindcss/utilities'; /* Không cần @tailwind components nữa */

body {
  font-family: 'Public Sans Variable', sans-serif;
}

@theme {
  --color-primary-main: #246aa3;
  --color-primary-header: #333334;
  --color-dark: #000000;
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-dark-200: #dbdade;
  --color-dark-400: #909090;
  --font-size-10: 10px;
}

:root {
  --color-dark: #000000;
  --color-dark-100: #4b465c;
  --color-dark-200: #f8f7fa;
  --color-primary-main: #246aa3;
  --font-size-10: 10px;
}
